<!-- TODO: check cordova backbutton behavior -->
<header dir="rtl">
    <h1>הוספת בייביסיטר</h1>
    <mat-icon class="back-icon" (click)="back()">arrow_forward</mat-icon>
</header>
<div class="avatar-container">
    <img (click)="uploadAvatar()" [src]="avatarUrl" alt="avatar">
</div>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" dir="rtl">
    <mat-form-field appearance="outline" class="text-align-end rtl">
        <mat-label>שם פרטי</mat-label>
        <input matInput formControlName="firstName">
        <!-- TODO: do I need the icon and the hint? -->
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>מידע נוסף</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline" class="text-align-end rtl">
        <mat-label>שם משפחה</mat-label>
        <input matInput formControlName="lastName">
        <!-- TODO: do I need the icon and the hint? -->
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>מידע נוסף</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="outline" class="text-align-end rtl">
        <mat-label>כתובת</mat-label>
        <input matInput formControlName="place" #addressInput>
        <!-- TODO: do I need the icon and the hint? -->
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> 
         <mat-hint>מידע נוסף</mat-hint>  -->
    </mat-form-field>

    <mat-form-field appearance="outline" class="text-align-end rtl">
        <mat-label>תאריך לידה</mat-label>
        <!-- TODO: do I want to use angular material date picker? -->
        <input type="date" matInput formControlName="dateOfBirth" #addressInput>
        <!-- TODO: do I need the icon and the hint? -->
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> 
         <mat-hint>מידע נוסף</mat-hint>  -->
    </mat-form-field>

    <mat-form-field appearance="outline" class="text-align-end rtl">
        <mat-label>תעריף לשעה</mat-label>
        <input type="number" matInput formControlName="ratePerHour" min="10" max="50">
        <!-- TODO: do I need the icon and the hint? -->
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>מידע נוסף</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="outline" class="text-align-end rtl">
        <mat-label>טלפון</mat-label>
        <input type="tel" matInput formControlName="phone">
        <!-- TODO: do I need the icon and the hint? -->
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>מידע נוסף</mat-hint> -->
    </mat-form-field>

    <button [disabled]="!profileForm.valid" mat-raised-button color="primary" type="submit">הוסף למפה</button>
    
</form>
