<!-- TODO: check cordova backbutton behavior -->
<!-- <div dir="rtl" (click)="back()"><mat-icon>arrow_forward</mat-icon></div> -->
<h1 dir="rtl">הוספת בייביסיטר</h1>
<div class="avatar-container">
    <img (click)="uploadAvatar()" [src]="avatarUrl" alt="avatar">
</div>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" dir="rtl">
    <mat-form-field class="text-align-end rtl">
        <mat-label>שם פרטי</mat-label>
        <input matInput formControlName="firstName">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>מידע נוסף</mat-hint> -->
    </mat-form-field>
    <mat-form-field class="text-align-end rtl">
        <mat-label>שם משפחה</mat-label>
        <input matInput formControlName="lastName">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>מידע נוסף</mat-hint> -->
    </mat-form-field>

    <!-- TODO: add goole geoloaction -->
    <!-- <mat-form-field class="text-align-end rtl">
        <mat-label>כתובת</mat-label>
        <input matInput formControlName="address">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> 
         <mat-hint>מידע נוסף</mat-hint> 
    </mat-form-field> -->

    <mat-form-field class="text-align-end rtl">
        <mat-label>תעריף לשעה</mat-label>
        <input type="number" matInput formControlName="ratePerHour">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>מידע נוסף</mat-hint> -->
    </mat-form-field>

    <mat-form-field class="text-align-end rtl">
        <mat-label>טלפון</mat-label>
        <input type="number" matInput formControlName="phone">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>מידע נוסף</mat-hint> -->
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">הוסף למפה</button>
    
</form>
