<p>bs-map works!!!</p>
<google-map [center]="center" width="100%" [height]="550" [zoom]="15" [options]="options">
    <map-marker #markerElem *ngFor="let marker of markers"
    [position]="marker.info.position" [label]="marker.label"
    [title]="marker.title" [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)" >
    </map-marker>
    <!-- TODO: do I need the info window? -->
    <!-- <map-info-window>
        {{infoContent}}
    </map-info-window> -->  
</google-map>
<a mat-raised-button class="add-job-btn" routerLink="/post" routerLinkActive="active">הוסף עבודה</a>
