.pan-to-center-btn {
    float: right;
    position: relative;
    bottom: 150px;
    right: 10px;
    z-index: 1;
    box-shadow: none;
}

.add-job-btn {
    background-color: #673ab7;
    color: #fff;
    border-radius: 25px;
    position: relative;
    bottom: 65px;
    left: 10px;
    z-index: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-size: 16px;
    box-shadow: 0 5px 5px 0 rgba(102, 102, 102, 0.75);
}
